*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility class */
.d_flex{
  display: flex;
}
/* /utility class */

/* background color */
.background{
  width: 100vw;
  height: 100vh;
}
.bg-green{
  width: 100%;
  height: 12%;
  background-color: #059688;
}
.bg-grey {
  width: 100%;
  height: 88%;
  background-color: #D8DBD5;
}
/* /background color */

/* container app */
.container{
  width: 80vw;
  height: 96vh;
  position: absolute;
  top: 2%;
  left: 10%;
  margin: auto;
}
/* side menu */
#side_menu{
  width: 30vw;
  height: 96vh;
  background-color: red;
}
.user{
  width: 30vw;
  height: 10.5%;
  background-color: #EAEAEA;
}
.notifications{
  width: 30vw;
  height: 12.5%;
  background-color: #8DDAFB;
}
.search_bar{
  width: 30vw;
  height: 8%;
  background-color: #f4f4f4fc;
}
.contacts{
  width: 30vw;
  height: 69%;
  background-color: #EAEAEA;
}
/* /side menu */

/* main corp */
#main_corp {
  width: 50vw;
  height: 96vh;
  border-left: 1px solid lightgrey;
}
.contact_selected {
  width: 50vw;
  height: 10.5%;
  background-color: #EAEAEA;
}
.messages{
  width: 50vw;
  height: 79%;
  background-image: url("../../assets/img/mine.jpg");
}
.typing_bar{
  width: 50vw;
  height: 10.5%;
  background-color: #EAEAEA;
}
/* /main corp */
/* /container app */
